<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.munkicloud.hueclock"
        version   = "1.0.0">

    <name>HueClock</name>

    <description>
        Use the time to generate a color for the background. 
    </description>

    <author href="http://www.munkicloud.net" email="info@munkicloud.net">
        Robbert Doelwijt
    </author>

    <preference name="webviewbounce" value="false" />
    
    <preference name="fullscreen" value="true" />

</widget>